INIT_EMPIRE_BT_TEMPLATE:
	ADMIN_PASS: CHANGE_THIS
	PASS: CHANGE_THIS

INIT_EMPIRE_CB_TEMPLATE:
	ADMIN_PASS: CHANGE_THIS

INIT_EMPIRE_CB_EVENT_TEMPLATE:
	ADMIN_PASS: CHANGE_THIS
	PASS: CHANGE_THIS

INIT_BAGNER_TEMPLATE:
	ADMIN_PASS: CHANGE_THIS
	PASS: CHANGE_THIS

INIT_TEST_TEMPLATE:
	ADMIN_PASS: CHANGE_THIS
